@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: font1;
    src: url('./Assets/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: font2;
    src: url("./Assets/fonts/Gilroy-Heavy.ttf");
}

@font-face {
    font-family: font3;
    src: url("./Assets/fonts/Gilroy-Light.ttf");
}

@font-face {
    font-family: font4;
    src: url('./Assets/fonts/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: font5;
    src: url("./Assets/fonts/Gilroy-Medium.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
html,body{
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Gilroy', sans-serif;
}
details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}

@keyframes blob {
    50% {
        transform: translate(10%, -10%) skew(-20deg);
        width: 50vw;
        height: 30vw;
        filter: blur(70px);
        background: linear-gradient(to top center, #640664, navy);
    }

    to {
        transform: translate(10%, -10%) skew(-10deg);
        width: 40vw;
        height: 30vw;
        filter: blur(70px);
        background: linear-gradient(to top left, #742c74, navy);
    }
}